<div class="map" >
	<div class="touchpad"></div>
	<div class="container">
		<% if(typeof(width)!='undefined' && typeof(height) != 'undefined') { %>
		<canvas class="grid" width="<%= width %>" height="<%= height %>" ></canvas>
		<% } %>
	</div>
</div>